# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.kps'
'name': 'KeY Proof Scripts'
'fileTypes': [
  'kps'
]
'patterns': [
  {
    begin: '/[*]'
    end: '[*]/'
    name: 'multiline.comment.java'
    contentName: 'comment'
  }
  {
    begin: '//'
    end: '$'
    name: 'singleline.comment'
    contentName: 'comment'
  }
  {
    begin: "'"
    end: "'"
    name: "string.quoted.single"
    contentName: 'string.quoted.single'
  }
  {
    begin: '`'
    end:   '`'
    name: 'constant.term'
    patterns: [
      {
        match: '\\?\\w+'
        name: 'variable.schema'
      }
      {
        match: '[:]\\s*(\\?\\w+)'
        name: 'variable.schema'
      }
    ]
  }
    {
      begin: "\\["
      end: "\\]"
      startCaptures: [
            0:
              name: 'delimiter'
      ]
      endCaptures:[
        0:
          name: 'delimiter'
      ]
      patterns :[

      ]
    }
  {
    match: '\\b(while|match|case|cases|try|closes|derivable|default|script|call|repeat|foreach|theonly|strict|relax|if|using)\\b'
    name: 'keyword'
  }
]
